@{
    ViewBag.Title = "Read Me";
}
<div class="readme-container container">
    <h1>Read Me</h1>

    <h4>Download v1.24.4 of the API and EmbeddedUI from <a href="https://downloads.izenda.com/v1.24.4/" target="_blank"> here </a> 
    and copy the following:</h4>

    @* Copy Resources & References *@
    <div class="page-header">
        <h4>Copy References  & Resources</h4>
    </div>
    <p>
        <b>Move all files & folders in API\bin -> Mvc5StarterKit\IzendaReferences</b><br />
        <br />
        <b>Move API\Content -> Mvc5StarterKit\IzendaResources</b><br />
        <b>Move API\EmailTemplates -> Mvc5StarterKit\IzendaResources</b><br />
        <b>Move API\Export -> Mvc5StarterKit\IzendaResources</b><br />
        <b>Move API\Web.Config -> Mvc5StarterKit\IzendaResources</b><br />
        <br />
        <b>Move EmbeddedUI -> Mvc5StarterKit\Scripts\izenda</b><br />
    </p>

    @* Create Reporting Database *@
    <div class="page-header">
        <h4>Create Reporting Database</h4>
    </div>
    <p>
        <b>Open SSMS</b><br />
        - Create a new database named Retail<br />
        - Run script located at Mvc5StarterKit\SQLScript\RetailDbScript.sql<br />
    </p>

    @*  Run Application *@
    <div class="page-header">
        <h4>Run Application</h4>
    </div>
    <b> Run Application and login using System Admin Account below:</b><br />
    - Tenant : System<br />
    - Username: IzendaAdmin@system.com<br />
    - Password: Izenda@123<br />
    <br />

    <b> After start up and logging in as Admin Go to "Settings" on top Nav</b><br />
    - Add Izenda License Key and Token (leave Izenda Configuration Database Connection string set this is using an MDF file included in this kit)<br />
    - Go to Data Setup > Connection String  add the connection string to the Retail database created above for system and all tenants and move tables/views to visible<br />
    <b>More Info <a href="https://www.izenda.com/docs/ui/doc_connection_string.html?" target="_blank">here</a></b>
    <br />
    <br />
    - In Data Setup > Advanced Settings > Security Set the Tenant Field to [CustomerID] (please ensure you use the brackets)<br />
    - Do this for each Tenant (DELDG/NATWR/RETCL) in the Retail Database<br />
    - This will filter data based on the current user's TenantID<br />

    <b>More Info <a href="https://www.izenda.com/docs/ui/doc_advanced_settings.html?" target="_blank">here</a></b><br />
    <br />
    - For each Role in the tenant set datamodel access (what tables / views each role can access)<br />
    <b> More Info <a href="https://www.izenda.com/docs/ui/doc_role_setup.html?" target="_blank">here</a></b><br />
    <br />
    
    @*  Tenant & Role Setup (Pre-configured)*@
    <div class="page-header">
        <h4>Tenant & Role Setup (Pre-configured)</h4>
    </div>
    
    <b>For each Tenant the following users / roles are configured all use the same password: Izenda@123</b><br />
    <br />
    Tenant: DELDG<br />
    User: employee@deldg.com Role: employee<br />
    User: manager@deldg.com  Role: manager<br />
    User: vp@deldg.com       Role: VP<br />
    <br />
    Tenant: NATWR<br />
    User: employee@natwr.com   Role: employee<br />
    User: manager@natwr.com    Role: manager<br />
    User: VP@natwr.com         Role: VP<br />
    <br />
    Tenant: RETCL<br />
    User: employee@retcl.com   Role: employee<br />
    User: manager@retcl.com    Role: manager<br />
    User: vp@retcl.com         Role: VP<br />
    <br />
    * When registering a new user in this sample all users are hardcoded to the manager role here:<br />
    Mvc5StarterKit\Controllers\AccountController.cs (Line 177)<br />
    <br />
    @*  Per Tenant CSS*@
    <div class="page-header">
        <h4>Per Tenant CSS</h4>
    </div>
    The CSS can be configured per tenant and an example is provided in this kit for each pre-configured Tenant see below:<br />
    This is configured here: mvc5starterkit\Mvc5StarterKit\Views\Shared\_Layout.cshtml<br />
    And folder structures are located here: mvc5starterkit\Mvc5StarterKit\Content<br />
    <br />
    @*  Additional Items*@
    <div class="page-header">
        <h4>Additional Items</h4>
    </div>
    Please review the following file:<br />
    mvc5starterkit\mvc5starterkit\izendaboundary\customadhocreport.cs<br />
    This is where you can find samples for:<br />
    - Hidden Filters<br />
    - Filter Dropdown Overrides<br />
    <b>More info <a href="https://www.izenda.com/docs/dev/ref_iadhocextension.html?" target="_blank">here</a><br /></b><br />
   
    <br />
</div>