@using Mvc5StarterKit.Models
@model ReportViewerModel
@{
    ViewBag.Title = "Report Viewer";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            izendaInitReportViewer('@ViewBag.Id');
        });
    </script>
}

<div class="loader" id="progressLoader"> </div>
<div class="izenda-container" id="izenda-root"></div>
