@{
    ViewBag.Title = "Dashboard Viewer";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            izendaInitDashboardViewer('@ViewBag.Id', '@ViewBag.filters');
        });
    </script>
}

<div class="loader" id="progressLoader"> </div>
<div class="izenda-container" id="izenda-root"></div>