body {
    height:100vh;
    padding-top: 50px !important;
    padding-bottom: 40px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.izenda-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    /*margin-top:50px;*/ 
}
.readme-container {
    margin-top:50px; 
    min-height: 100vh;
}

.izenda-report-part {
    width: 800px;
    height: 500px;
}

#izenda-root .izenda .collapsible-list-items.panel-group .panel {
    border-radius: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: -75px 0 0 -75px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.loader-text {
    position: absolute;
    left: 45%;
    top: 60%;
    font-size: x-large;
    color: #3498DB;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.izenda-header h1,h2{
    color: #1c4e89;
}

/*Report parts*/
.report-part-haft-width {
    float: left;
    width: 40%;
    height: 40%;
    margin-left: 5%;
    margin-top: 5%;
}

.report-part-fullwidth {
    float: left;
    width: 85%;
    height: 40%;
    margin-left: 5%;
    margin-top: 5%;
}

.report-part-container {
    height: 50vh;
    margin-top: 10px;
}

.pvalue-control {
    width: 300px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}